@model MvcApplication1.Models.PackageState
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

<div>
    <table>
        <tr>
            <td>
                <div>
                    <p>Цена дополнительных услуг:</p>
                    <ul>
                        <li>Бар: 300 грн</li>
                         <li>Пляж: 150 грн</li>
                         <li>Салон красоты: 120 грн</li>
                         <li>Дискотека: 50 грн</li>
                    </ul>
                <div>
            </td>
            <td>
                <div>

                </div>
            </td>
        </tr>
    </table>
</div>

